@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@layer base{

  @font-face {
    font-family: 'LEMONMILK';
    src: url('/LEMONMILK-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'LEMONMILKBOLD';
    src: url('/LEMONMILK-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'LEMONMILKLIGHT';
    src: url('/LEMONMILK-Light.otf') format('opentype');
  }
}

.counters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote_comment {
  display: inline-block;
  width: fit-content;
  align-self: center;
}